@model IEnumerable<ProyectoIdentity.Models.Taker3>

@{
    ViewData["Title"] = "Index";
}

<hr />

<style>
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
    }

    h1 {
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 20px;
    }

    .img-fluid {
        max-width: 43%; /* Ajuste de tamaño similar a Jurásico 3 */
        height: auto;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.85em;
        text-align: justify;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    /* Contenedor de audio y botón */
    #button-audio-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding: 0 15px;
    }

    .audio-container {
        flex: 1;
        max-width: 300px;
    }

    audio {
        width: 100%;
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px;
        padding: 15px 30px;
        font-size: 18px;
        transition: all 0.5s;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }

    /* Contenedor para alinear botón */
    #button-container {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
</style>

<div id="container">
    <img src="~/images/llaves.jpeg" alt="Descripción de la imagen" class="img-fluid" />
    <p>
        En el segundo piso, buscan la llave. Al pisar un tablón, ven abrirse la boca del lagarto.
    </p>

    <div id="button-audio-container">
        <!-- Botón a la derecha -->
        <div id="button-container">
            <form method="post">
                <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
            </form>
        </div>
    </div>
</div>
