@model ProyectoIdentity.Models.Modelo

@{
    ViewData["Title"] = "Crear Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Modelo</h1>

<h4>Modelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Core" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Core" class="form-control">
                        <option value="Evaluar, Dirigir y Monitorear">Evaluar, Dirigir y Monitorear</option>
                        <option value="Alinear, Planificar y Organizar">Alinear, Planificar y Organizar</option>
                        <option value="Construir, Adquirir e Implementar">Construir, Adquirir e Implementar</option>
                        <option value="Entrega, Servicio y Soporte">Entrega, Servicio y Soporte</option>
                        <option value="Monitorear, Evaluar y Valorar">Monitorear, Evaluar y Valorar</option>
                    </select>
                    <span asp-validation-for="Core" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="AlineamientoID" class="control-label"></label>
                <select asp-for="AlineamientoID" class="form-control" asp-items="ViewBag.AlineamientoID"></select>
                <span asp-validation-for="AlineamientoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index">Volver a la lista</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
