@model IEnumerable<ProyectoIdentity.Models.Rusa>

@{
}
<hr />
<style>
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #center p, #third p, #fourth p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }

    .img-fluid {
        max-width: 500px;
        max-height: 450px;
    }

    .btn {
        font-size: 1.5em; /* Ajusta este valor según tus necesidades */
        padding: 10px 20px; /* Ajusta estos valores según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/img/2974.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Victorias">Tienda 2974</a>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/img/2005.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Codigos">Parque 2005</a>
    </div>
    <div id="fourth" class="text-center">
        <img src="~/img/2015.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Codigos">Inaug. 2015</a>
    </div>
    <div id="center" class="text-center">
        <p>
            Darius debe decidir entre los tres códigos los cuales son de vida o muerte.....
        </p>
    </div>
    <div id="third" class="text-center">
        <p>
            Recordando la frase del sabio Owen Grady: <span style="color: red; font-style: italic;">"Este es el inicio del fin."</span>
        </p>
    </div>
    <div id="third" class="text-center">
        <p>
            <span style="color: red; font-style: italic;">Recuerda esta decisión puede ser de vida o muerte.</span>
        </p>
    </div>
</div>

