@model IEnumerable<ProyectoIdentity.Models.Nieve8>

@{
    ViewData["Title"] = "Index";
}
<hr />

<style>
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #left-side {
        margin-right: 20px;
        width: 41.5%;
    }

    #right-side {
        width: 45%;
    }

        #right-side p {
            font-size: 2em;
            text-align: justify;
        }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px;
        padding: 20px 40px;
        font-size: 22px;
        transition: all 0.5s;
        margin-top: 30px;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }

    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/rodea.jpg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
    <div id="right-side">
        <p>
            Al final, decide que es más seguro rodear la montaña por un estrecho camino y encuentra otro túnel más iluminado en su camino.
        </p>
    </div>
</div>

<div>
    <form method="post">
        <div style="display: flex; justify-content: flex-end;">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
