@model IEnumerable<ProyectoIdentity.Models.Entre3>

@{
    ViewData["Title"] = "Index";
}
<hr />
<style>
    #container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .text-center {
        text-align: center;
    }

    .img-fluid {
        max-width: 84%;
        height: auto;
    }

    .btn {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Añade bordes redondeados */
        padding: 15px 30px; /* Aumenta el padding para un mejor aspecto */
        font-size: 22px; /* Ajusta el tamaño de la fuente */
        transition: all 0.5s; /* Añade una transición suave */
        text-decoration: none;
        margin-top: 10px;
    }

        .btn:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    #center p {
        font-size: 2em;
        color: #333;
        line-height: 1.6;
    }
</style>



<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/manglar2.jpeg" alt="Imagen de dinosaurio 1" class="img-fluid" />
    </div>

    <div id="right-side" class="text-center">
        <img src="~/images/jungla3.jpeg" alt="Imagen de dinosaurio 2" class="img-fluid" />
    </div>
</div>

<div id="container">
    <div id="center" class="text-center">
        <p>
            Seguimos caminando y encontramos un junco cerrado el cual corta la piel o pasamos por el manglar.

        </p>
    </div>
</div>

<div id="container" style="justify-content: space-around;">
    <div id="left-side" class="text-center">
        <a class="btn" asp-action="Create" asp-controller="Entre4">Manglar</a>
    </div>
    <div id="center" class="text-center">
    </div>
    <div id="right-side" class="text-center">
        <a class="btn" asp-action="Index" asp-controller="Entre4">Junco</a>
    </div>
</div>
