@model ProyectoIdentity.Models.Nieve11

@{
    ViewData["Title"] = "Create";
}

<hr />

<style>
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .img-container {
        flex: 1 1 300px;
        max-width: 45%;
        box-sizing: border-box;
    }

    .img-fluid {
        width: 93%;
        height: auto;
        display: block;
    }

    #right-side p {
        font-size: 2em;
        text-align: justify;
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px;
        padding: 20px 40px;
        font-size: 22px;
        transition: all 0.5s;
        margin-top: 30px;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }

    .text-center {
        text-align: center;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end; /* Mueve el botón hacia la derecha */
        margin-top: 30px;
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/choque.jpg" alt="Imagen de choque" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/perdido.jpg" alt="Imagen de perdido" class="img-fluid" />
    </div>
</div>

<div id="right-side" class="text-center">
    <p>
        Empieza a encontrar los restos del avión, como la cola, y comienza a gritar el nombre "Joe", el del piloto.
    </p>
</div>

<div class="btn-container">
    <form method="post">
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </form>
</div>

