@model IEnumerable<ProyectoIdentity.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-success">
        <h1 class="display-1">Soy la página CLIENTES</h1>
    </div>
</div>


<div class="container mt-5">
    <!-- Libros a la Venta -->
    <div class="row">
        <div class="col">
            <h2>Libros Disponibles:</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Aquí puedes iterar sobre una lista de libros y mostrar cada uno -->
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/port.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                        <div class="card-body">
                            <h3 class="card-title fs-2">Mundo Jurasico</h3>
                            <div class="buttons">
                                <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Asset">Leer cuento</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Agrega más tarjetas para más libros -->
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/huida.jpg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                        <div class="card-body">
                            <h3 class="card-title fs-2">Aventura Salvaje con Mateo y Eduardo</h3>
                            <div class="buttons">
                                <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Bosques">Leer cuento</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Agrega más tarjetas para más libros -->
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/piente.jpg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                        <div class="card-body">
                            <h3 class="card-title fs-2">Mision Safari</h3>
                            <div class="buttons">
                                <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Safari">Leer cuento</a>
                            </div>
                        </div>
                    </div>
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <!-- SOLO ESTOS LIBROS DE ACA ABAJO  PUEDEN TENER ACCESO LOS administrador -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/para.jpg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Mision en la nieve</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Nieves">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/porta.jpg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Los heroes del apocalipsos</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Heros">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/pobla.jpg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Operación entrega</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Entre1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/entre.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Operación rescate en la selva</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Medi1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/alpez.jpg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Mision Alpez Suizoz</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Alpez1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/portni.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Mision Montaña</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Super1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/port5.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Aventura Peligrosa</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Peli1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/port6.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Aventura venenosa</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Veneno1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/port7.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Mision Montaña</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Sobre1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/port9.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">El mito de la mina abandonada</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Mito1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/port10.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">El gato ladron</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Gato1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agrega más tarjetas para más libros -->

                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/port11.jpeg" class="card-img-top" alt="..." style="max-width: 300px; max-height: 200px;">
                            <div class="card-body">
                                <h3 class="card-title fs-2">Escapada de Undertaker</h3>
                                <div class="buttons">
                                    <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Taker1">Leer cuento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

