@model IEnumerable<ProyectoIdentity.Models.Medi5>

@{
    ViewData["Title"] = "Index";
}

<hr />

<style>
    #container {
        display: flex;
        justify-content: center; /* Centra las imágenes en el contenedor */
        margin-bottom: 20px; /* Añade un margen inferior para separación del texto */
    }

    .img-container {
        flex: 1 1 45%; /* Permite que las imágenes se ajusten al contenedor */
        max-width: 45%; /* Limita el ancho máximo al 45% del contenedor */
        margin-right: 20px; /* Añade margen derecho para separar las imágenes */
    }

        .img-container img {
            width: 91.4%; /* Ajusta el ancho de la imagen al 100% del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
            display: block; /* Asegura que la imagen ocupe el ancho completo del contenedor */
        }

    #right-side {
        font-size: 2em; /* Tamaño del texto del párrafo */
        text-align: center; /* Centra el texto */
        margin-top: 20px; /* Añade margen superior para separación del botón */
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Bordes redondeados */
        padding: 20px 40px; /* Aumenta el padding del botón */
        font-size: 22px; /* Tamaño del texto en el botón */
        transition: all 0.5s; /* Transición suave para efectos */
    }

        .btn-info:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    .btn-container {
        display: flex;
        justify-content: flex-end; /* Alinea el botón a la derecha */
        margin-top: 30px; /* Margen superior para separación */
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/vista2.jpeg" alt="Imagen de vista" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/avanza.jpeg" alt="Imagen de avance" class="img-fluid" />
    </div>
</div>

<div id="right-side">
    <p>
        Si subimos el árbol poco a poco, veremos humo en la selva y podremos ir hasta allí.
    </p>
</div>

<div class="btn-container">
    <form method="post">
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </form>
</div>
