@model ProyectoIdentity.Models.Meta

@{
    ViewData["Title"] = "Crear nueva Meta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear nueva Meta</h1>

<form asp-action="Crear" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Codigo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Codigo" class="form-control">
                <option value="AG01">AG01</option>
                <option value="AG02">AG02</option>
                <option value="AG03">AG03</option>
                <option value="AG04">AG04</option>
                <option value="AG05">AG05</option>
                <option value="AG06">AG06</option>
                <option value="AG07">AG07</option>
                <option value="AG08">AG08</option>
                <option value="AG09">AG09</option>
                <option value="AG10">AG10</option>
                <option value="AG11">AG11</option>
                <option value="AG12">AG12</option>
                <option value="AG13">AG13</option>
            </select>
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Dominio" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Dominio" class="form-control">
                <option value="">-- Seleccione una opción --</option>
                <option value="AG01 - Cumplimiento y soporte de I&T para el cumplimiento del negocio con leyes y regulaciones externas">AG01 - Cumplimiento y soporte de I&T para el cumplimiento del negocio con leyes y regulaciones externas</option>
                <option value="AG02 - Gestión de riesgo relacionado con I&T">AG02 - Gestión de riesgo relacionado con I&T</option>
                <option value="AG03 - Beneficios obtenidos del portafolio de inversiones y servicios habilitados por I&T">AG03 - Beneficios obtenidos del portafolio de inversiones y servicios habilitados por I&T</option>
                <option value="AG04 - Calidad de la información financiera relacionada con la tecnología">AG04 - Calidad de la información financiera relacionada con la tecnología</option>
                <option value="AG05 - Prestación de servicios I&T conforme a los requisitos del negocio">AG05 - Prestación de servicios I&T conforme a los requisitos del negocio</option>
                <option value="AG06 - Agilidad para convertir los requisitos del negocio en soluciones operativas">AG06 - Agilidad para convertir los requisitos del negocio en soluciones operativas</option>
                <option value="AG07 - Seguridad de la información, infraestructura de procesamiento y aplicaciones, y privacidad">AG07 - Seguridad de la información, infraestructura de procesamiento y aplicaciones, y privacidad</option>
                <option value="AG08 - Habilitar y dar soporte a procesos de negocio mediante la integración de aplicaciones y tecnología">AG08 - Habilitar y dar soporte a procesos de negocio mediante la integración de aplicaciones y tecnología</option>
                <option value="AG09 - Ejecución de programas dentro del plazo, sin exceder el presupuesto, y que cumplen con los requisitos y estándares de calidad">AG09 - Ejecución de programas dentro del plazo, sin exceder el presupuesto, y que cumplen con los requisitos y estándares de calidad</option>
                <option value="AG10 - Calidad de la información sobre gestión de I&T">AG10 - Calidad de la información sobre gestión de I&T</option>
                <option value="AG11 - Cumplimiento de I&T con las políticas internas">AG11 - Cumplimiento de I&T con las políticas internas</option>
                <option value="AG12 - Personal competente y motivado con un entendimiento de la tecnología y del negocio">AG12 - Personal competente y motivado con un entendimiento de la tecnología y del negocio</option>
                <option value="AG13 - Conocimiento, experiencia e iniciativas para la innovación empresarial">AG13 - Conocimiento, experiencia e iniciativas para la innovación empresarial</option>
            </select>
            <span asp-validation-for="Dominio" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Nivel" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Nivel" class="form-control">
                <option value="">-- Seleccione --</option>
                <option value="Primario">Primario</option>
                <option value="Secundario">Secundario</option>
                <option value="N/A">N/A</option>
            </select>
                <span asp-validation-for="Nivel" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SiglaEG01_EG13" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="SiglaEG01_EG13" class="form-control">
                <option value="">-- Seleccione una opción --</option>
                <option value="EG01 - Portafolio de productos y servicios competitivos">EG01 - Portafolio de productos y servicios competitivos</option>
                <option value="EG02 - Gestión de riesgo de negocio">EG02 - Gestión de riesgo de negocio</option>
                <option value="EG03 - Cumplimiento con las leyes y regulaciones externas">EG03 - Cumplimiento con las leyes y regulaciones externas</option>
                <option value="EG04 - Calidad de la información financiera">EG04 - Calidad de la información financiera</option>
                <option value="EG05 - Cultura de servicio orientada al cliente">EG05 - Cultura de servicio orientada al cliente</option>
                <option value="EG06 - Continuidad y disponibilidad del servicio del negocio">EG06 - Continuidad y disponibilidad del servicio del negocio</option>
                <option value="EG07 - Calidad de la información sobre gestión">EG07 - Calidad de la información sobre gestión</option>
                <option value="EG08 - Optimización de la funcionalidad de procesos internos">EG08 - Optimización de la funcionalidad de procesos internos</option>
                <option value="EG09 - Optimización de costes de los procesos del negocio">EG09 - Optimización de costes de los procesos del negocio</option>
                <option value="EG10 - Habilidades, motivación y productividad">EG10 - Habilidades, motivación y productividad</option>
                <option value="EG11 - Cumplimiento de las políticas internas">EG11 - Cumplimiento de las políticas internas</option>
                <option value="EG12 - Gestión de programas de transformación digital">EG12 - Gestión de programas de transformación digital</option>
                <option value="EG13 - Innovación de productos y negocios">EG13 - Innovación de productos y negocios</option>
            </select>
            <span asp-validation-for="SiglaEG01_EG13" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Crear Meta</button>
            <a asp-action="Index">Volver a la lista</a>

        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
