@model ProyectoIdentity.Models.Meta

@{
    ViewData["Title"] = "Editar Meta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Meta</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="ID" />
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Codigo" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Codigo" class="form-control" placeholder="Ingresa el código" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Dominio" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Dominio" class="form-control" placeholder="Ingresa el dominio" />
            <span asp-validation-for="Dominio" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Nivel" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Nivel" class="form-control" placeholder="Ingresa el nivel de importancia" />
            <span asp-validation-for="Nivel" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SiglaEG01_EG13" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="SiglaEG01_EG13" class="form-control" placeholder="Ingresa la sigla" />
            <span asp-validation-for="SiglaEG01_EG13" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Editar Meta</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
