@model CambiarPasswordViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager;

@{
    ViewData["Title"] = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cambiar contraseña</h1>

<form asp-controller="Usuarios" asp-action="CambiarPassword" method="post" role="form">
    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" name="email" value="@UserManager.GetUserName(User)" />

    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mt-3 d-flex justify-content-center">
        <div class="col-md-10 d-flex justify-content-center">
            <button type="submit" class="btn btn-success w-75 btn-lg">
                Cambiar contraseña <i class="bi bi-arrow-right-circle-fill"></i>
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
