@model ProyectoIdentity.Models.Boma

@{
    ViewData["Title"] = "Create";
}

<hr />

<style>
    #container {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una fila */
        justify-content: center;
        gap: 20px; /* Espacio entre las imágenes */
    }

    .img-container {
        flex: 1 1 300px; /* Permite que los contenedores de imágenes crezcan o se encojan, pero con un ancho mínimo */
        max-width: 45%; /* Limita el ancho máximo al 45% del contenedor */
        box-sizing: border-box; /* Incluye el padding y border en el tamaño total del elemento */
    }

    .img-fluid {
        width: 100%;
        height: auto;
        display: block;
    }

    #right-side p {
        font-size: 2em; /* Ajusta el tamaño de fuente según tus necesidades */
        text-align: justify; /* Justificación del texto */
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px;
        padding: 20px 40px;
        font-size: 22px;
        transition: all 0.5s;
        margin-top: 30px;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/atras.jpg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/caballo.jpg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
</div>

<div id="right-side">
    <p>
        Con sigilo, abre un agujero en la tienda y lo saca por detrás. Luego, le indica al investigador que tome el caballo hacia la reserva.
    </p>
</div>

<div>
    <form method="post">
        <div style="display: flex; justify-content: flex-end;">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
