@model int

@if (Model > 0)
{
    <span class="badge badge-pill badge-primary" style="position: absolute; top: -5px; right: 50%; transform: translateX(10px); font-size: 10px;">
        @Model
    </span>
}