@model ProyectoIdentity.Models.Alineamiento

@{
    ViewData["Title"] = "Crear Alineamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Alineamiento</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Codigo" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Codigo" class="form-control">
                    <option value="">-- Seleccione una opción --</option>
                    <option value="EDM01 Asegurar el establecimiento y el mantenimiento del marco">EDM01 Asegurar el establecimiento y el mantenimiento del marco</option>
                    <option value="EDM02 Asegurar la obtención de beneficios">EDM02 Asegurar la obtención de beneficios</option>
                    <option value="EDM03 Asegurar la optimización del riesgo">EDM03 Asegurar la optimización del riesgo</option>
                    <option value="EDM04 Asegurar la optimización de los recursos">EDM04 Asegurar la optimización de los recursos</option>
                    <option value="EDM05 Asegurar el compromiso de las partes interesadas">EDM05 Asegurar el compromiso de las partes interesadas</option>
                    <option value="APO01 Gestionar el marco de gestión de I&T">APO01 Gestionar el marco de gestión de I&T</option>
                    <option value="APO02 Gestionar la estrategia">APO02 Gestionar la estrategia</option>
                    <option value="APO03 Gestionar la arquitectura empresarial">APO03 Gestionar la arquitectura empresarial</option>
                    <option value="APO04 Gestionar la innovación">APO04 Gestionar la innovación</option>
                    <option value="APO05 Gestionar el portafolio">APO05 Gestionar el portafolio</option>
                    <option value="APO06 Gestionar el presupuesto y los costes">APO06 Gestionar el presupuesto y los costes</option>
                    <option value="APO07 Gestionar los recursos humanos">APO07 Gestionar los recursos humanos</option>
                    <option value="APO08 Gestionar las relaciones con los clientes">APO08 Gestionar las relaciones con los clientes</option>
                    <option value="APO09 Gestionar los acuerdos de servicio">APO09 Gestionar los acuerdos de servicio</option>
                    <option value="APO10 Gestionar los proveedores">APO10 Gestionar los proveedores</option>
                    <option value="APO11 Gestionar la calidad">APO11 Gestionar la calidad</option>
                    <option value="APO12 Gestionar el riesgo">APO12 Gestionar el riesgo</option>
                    <option value="APO13 Gestionar la seguridad">APO13 Gestionar la seguridad</option>
                    <option value="APO14 Gestionar los datos">APO14 Gestionar los datos</option>
                    <option value="BAI01 Gestionar los programas y proyectos">BAI01 Gestionar los programas y proyectos</option>
                    <option value="BAI02 Gestionar la definición de requisitos">BAI02 Gestionar la definición de requisitos</option>
                    <option value="BAI03 Gestionar la identificación y construcción de soluciones">BAI03 Gestionar la identificación y construcción de soluciones</option>
                    <option value="BAI04 Gestionar la disponibilidad y capacidad">BAI04 Gestionar la disponibilidad y capacidad</option>
                    <option value="BAI05 Gestionar el cambio organizativo">BAI05 Gestionar el cambio organizativo</option>
                    <option value="BAI06 Gestionar los cambios de TI">BAI06 Gestionar los cambios de TI</option>
                    <option value="BAI07 Gestionar la aceptación y la transición de los cambios de TI">BAI07 Gestionar la aceptación y la transición de los cambios de TI</option>
                    <option value="BAI08 Gestionar el conocimiento">BAI08 Gestionar el conocimiento</option>
                    <option value="BAI09 Gestionar los activos">BAI09 Gestionar los activos</option>
                    <option value="BAI10 Gestionar la configuración">BAI10 Gestionar la configuración</option>
                    <option value="BAI11 Gestionar los proyectos">BAI11 Gestionar los proyectos</option>
                    <option value="DSS01 Gestionar la operación de servicio">DSS01 Gestionar la operación de servicio</option>
                    <option value="DSS02 Gestionar las peticiones de servicio y soporte">DSS02 Gestionar las peticiones de servicio y soporte</option>
                    <option value="DSS03 Gestionar los incidentes y problemas">DSS03 Gestionar los incidentes y problemas</option>
                    <option value="DSS04 Gestionar los datos">DSS04 Gestionar los datos</option>
                    <option value="DSS05 Gestionar la seguridad">DSS05 Gestionar la seguridad</option>
                    <option value="DSS06 Gestionar los cambios">DSS06 Gestionar los cambios</option>
                    <option value="MEA01 Monitorear, evaluar y valorar el desempeño y el cumplimiento">MEA01 Monitorear, evaluar y valorar el desempeño y el cumplimiento</option>
                    <option value="MEA02 Monitorear, evaluar y valorar el cumplimiento">MEA02 Monitorear, evaluar y valorar el cumplimiento</option>
                    <option value="MEA03 Asegurar el cumplimiento de políticas y estándares">MEA03 Asegurar el cumplimiento de políticas y estándares</option>
                    <option value="MEA04 Proveer gobierno de TI">MEA04 Proveer gobierno de TI</option>
                </select>
                    <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>

            <div class="form-group">
                <label asp-for="Nivel" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Nivel" class="form-control">
                        <option value="">-- Seleccione --</option>
                        <option value="Primario">Primario</option>
                        <option value="Secundario">Secundario</option>
                        <option value="N/A">N/A</option>
                    </select>
                    <span asp-validation-for="Nivel" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SiglaAG01_AG13" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SiglaAG01_AG13" class="form-control">
                        <option value="">-- Seleccione una opción --</option>
                        <option value="AG01 - Cumplimiento y soporte de I&T para el cumplimiento del negocio con leyes y regulaciones externas">AG01 - Cumplimiento y soporte de I&T para el cumplimiento del negocio con leyes y regulaciones externas</option>
                        <option value="AG02 - Gestión de riesgo relacionado con I&T">AG02 - Gestión de riesgo relacionado con I&T</option>
                        <option value="AG03 - Beneficios obtenidos del portafolio de inversiones y servicios habilitados por I&T">AG03 - Beneficios obtenidos del portafolio de inversiones y servicios habilitados por I&T</option>
                        <option value="AG04 - Calidad de la información financiera relacionada con la tecnología">AG04 - Calidad de la información financiera relacionada con la tecnología</option>
                        <option value="AG05 - Prestación de servicios I&T conforme a los requisitos del negocio">AG05 - Prestación de servicios I&T conforme a los requisitos del negocio</option>
                        <option value="AG06 - Agilidad para convertir los requisitos del negocio en soluciones operativas">AG06 - Agilidad para convertir los requisitos del negocio en soluciones operativas</option>
                        <option value="AG07 - Seguridad de la información, infraestructura de procesamiento y aplicaciones, y privacidad">AG07 - Seguridad de la información, infraestructura de procesamiento y aplicaciones, y privacidad</option>
                        <option value="AG08 - Habilitar y dar soporte a procesos de negocio mediante la integración de aplicaciones y tecnología">AG08 - Habilitar y dar soporte a procesos de negocio mediante la integración de aplicaciones y tecnología</option>
                        <option value="AG09 - Ejecución de programas dentro del plazo, sin exceder el presupuesto, y que cumplen con los requisitos y estándares de calidad">AG09 - Ejecución de programas dentro del plazo, sin exceder el presupuesto, y que cumplen con los requisitos y estándares de calidad</option>
                        <option value="AG10 - Calidad de la información sobre gestión de I&T">AG10 - Calidad de la información sobre gestión de I&T</option>
                        <option value="AG11 - Cumplimiento de I&T con las políticas internas">AG11 - Cumplimiento de I&T con las políticas internas</option>
                        <option value="AG12 - Personal competente y motivado con un entendimiento de la tecnología y del negocio">AG12 - Personal competente y motivado con un entendimiento de la tecnología y del negocio</option>
                        <option value="AG13 - Conocimiento, experiencia e iniciativas para la innovación empresarial">AG13 - Conocimiento, experiencia e iniciativas para la innovación empresarial</option>
                    </select>
                    <span asp-validation-for="SiglaAG01_AG13" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index">Volver a la lista</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
