@model IEnumerable<ProyectoIdentity.Models.Heroe3>

@{
    ViewData["Title"] = "Index";
}

<hr />

<style>
    #container {
        display: flex;
        justify-content: center; /* Centra las imágenes horizontalmente */
        gap: 20px; /* Espacio entre las imágenes */
    }

    .img-container {
        max-width: 550px; /* Limita el ancho máximo de las imágenes */
    }

    .img-fluid {
        width: 97%;
        height: auto;
        display: block;
    }

    #right-side p {
        font-size: 2em; /* Tamaño del texto */
        text-align: justify; /* Justifica el texto */
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Bordes redondeados */
        padding: 20px 40px; /* Aumenta el padding */
        font-size: 22px; /* Tamaño de la fuente */
        transition: all 0.5s; /* Transición suave */
        margin-top: 30px; /* Margen superior */
    }

        .btn-info:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    .btn-container {
        display: flex;
        justify-content: flex-end; /* Mueve el botón hacia la derecha */
        margin-top: 30px; /* Margen superior para separar del contenido */
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/balde.jpeg" alt="Imagen de balde" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/taller.jpg" alt="Imagen de taller" class="img-fluid" />
    </div>
</div>

<div id="right-side">
    <p>
        Al derrotarlo, toman rumbo nuevamente hacia su gran mecánica, que es su escondite seguro de todos los peligros espaciales.
    </p>
</div>

<div class="btn-container">
    <form method="post">
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </form>
</div>
