@model ProyectoIdentity.Models.Heroe12

@{
    ViewData["Title"] = "Create";
}

<hr />

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    .img-container {
        flex: 1 1 45%; /* Permite que los contenedores de imágenes crezcan o se encojan */
        max-width: 45%; /* Limita el ancho máximo al 45% del contenedor */
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
    }

        .img-container img {
            width: 92%; /* Ajusta el ancho de la imagen al 100% del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
            display: block; /* Asegura que la imagen ocupe el ancho completo del contenedor */
        }

    #right-side p {
        font-size: 2em; /* Tamaño del texto del párrafo */
        text-align: justify; /* Justifica el texto */
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Bordes redondeados */
        padding: 20px 40px; /* Aumenta el padding del botón */
        font-size: 22px; /* Tamaño del texto en el botón */
        transition: all 0.5s; /* Transición suave para efectos */
        margin-top: 30px; /* Separación del botón del contenido superior */
    }

        .btn-info:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    .btn-container {
        display: flex;
        justify-content: flex-end; /* Alinea el botón a la derecha */
        margin-top: 30px; /* Margen superior para separación */
    }
</style>

<div id="container">
    <div class="img-container" style="margin-right: 20px;">
        <img src="~/images/caja.jpeg" alt="Imagen de caja" />
    </div>
    <div class="img-container">
        <img src="~/images/lacion.jpeg" alt="Imagen de lación" />
    </div>
</div>

<div id="right-side">
    <p>
        Haciendo que puedan ver mejor, logran nadar y subirse a cajas o a la ventilación para salvarse del ataque de los tentáculos.
    </p>
</div>

<div class="btn-container">
    <form method="post">
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </form>
</div>
