@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - e-Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        html {
            font-size: 14px;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .bold-link {
            font-weight: bold;
            color: black !important;
        }

        .btn-green {
            background-color: green;
            border-color: green;
            color: white;
        }

        /* Carousel */
        .carousel-caption p {
            font-size: 20px;
            line-height: 1.4;
        }

        /* Make .svg files in the carousel display properly in older browsers */
        .carousel-inner .item img[src$=".svg"],
        .carousel-inner .item img[src$=".jpeg"],
        .carousel-inner .item img[src$=".jpg"] {
            width: 30%; /* Adjust the width to make the images smaller */
            margin: 0 auto; /* Center the images horizontally */
        }

        .highlight {
            background-color: orange;
        }

        /* Custom background colors for carousel items */
        .carousel-inner .item-green {
            background-color: green;
        }

        .carousel-inner .item-blue {
            background-color: #003366; /* Azul oscuro */
        }


        .carousel-inner .item-purple {
            background-color: purple;
        }

        /* Add margin to the top of the carousel to prevent it from interfering with the nav bar */
        .carousel {
            margin-top: 60px; /* Adjust this value as needed */
        }

        /* Styles for sticky navbar */
        .navbar {
            transition: top 0.3s;
        }

        /* Align navbar links to the right */
        .navbar-nav {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">e-Books</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Administracion de roles</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link bold-link" asp-area="" asp-controller="Cuentas" asp-action="RegistroAdministrador"><strong>Tu rol es Administrador ->> Registro Administrador</strong></a>
                                </li>
                            }
                            else
                            {
                                <p>Tu rol es: Usuario</p>
                            }

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    Mi cuenta
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#">Hola, @UserManager.GetUserName(User)</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="EditarPerfil" asp-route-id="@UserManager.GetUserId(User)">Editar Perfil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="CambiarPassword">Cambiar Contraseña</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <form id="logoutForm" method="post" class="form-inline" asp-controller="Cuentas" asp-action="SalirAplicacion">
                                    <button type="submit" class="btn nav-link">Salir</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link bold-link" asp-area="" asp-controller="Cuentas" asp-action="Registro">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bold-link" asp-area="" asp-controller="Cuentas" asp-action="Acceso">Acceder</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item item-green active">
                <img src="~/images/port.jpeg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>Welcome to the e-Library</strong>
                    </p>
                </div>
            </div>
            <div class="item item-blue">
                <img src="~/images/huida.jpg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>Welcome to the e-Library</strong>
                    </p>
                </div>
            </div>
            <div class="item item-purple">
                <img src="~/images/piente.jpg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>Welcome to the e-Library</strong>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container" id="books">
        <h2>e-Books</h2>
        <ul>
            <li>Mundo Jurasico</li>
            <li>Aventura Salvaje con Mateo y Eduardo</li>
            <li>Mision Safari</li>

        </ul>
    </div>

    <footer class="footer">
        <p>© 2023 e-Books. Todos los derechos reservados.</p>
    </footer>

    <script>
        var lastScrollTop = 0;
        $(window).scroll(function (event) {
            var currentScrollTop = $(this).scrollTop();
            if (currentScrollTop > lastScrollTop) {
                // Scroll down
                $('.navbar').css('top', '-60px'); // Adjust this value according to your navbar height
            } else {
                // Scroll up
                $('.navbar').css('top', '0');
            }
            lastScrollTop = currentScrollTop;
        });
    </script>
</body>
</html>
