<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Libros Interactivos para niños</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            font-size: 14px;
            background-color: #f0f8ff; /* Fondo azul claro */
        }

        .container-welcome {
            background-color: #fff8dc; /* Fondo color crema */
            padding: 40px;
            margin-top: 60px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Corrección de sintaxis */
        }

        .welcome-title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .img-small {
            width: 300px; /* Tamaño pequeño para las imágenes */
            margin: 5px; /* Espaciado entre las imágenes */
            display: inline-block; /* Mostrar imágenes en línea */
        }

        .container-books {
            padding: 20px;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 10px;
        }

        .footer {
            text-align: center;
            padding: 10px;
            background-color: #fff8dc;
            position: fixed;
            bottom: 0;
            width: 100%;
            box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2); /* Corrección de sintaxis */
        }
    </style>
</head>
<body>
    <div class="container-welcome">
        <h2 class="welcome-title">Bienvenido a Libros Interactivos para niños</h2>
        <p>Disfruta de una variedad de aventuras interactivas que harán volar tu imaginación.</p>
    </div>

    <div class="container text-center">
        <!-- Imágenes alineadas horizontalmente con enlaces -->
        <a asp-action="Create" asp-controller="Asset">
            <img src="~/images/port.jpeg" alt="Mundo Jurasico" class="img-small">
        </a>
        <a asp-action="Create" asp-controller="Bosques">
            <img src="~/images/huida.jpg" alt="Aventura Salvaje" class="img-small">
        </a>
        <a asp-action="Create" asp-controller="Safari">
            <img src="~/images/piente.jpg" alt="Mision Safari" class="img-small">
        </a>
                    @if (User.IsInRole("Administrador") || User.IsInRole("Lector 15 libros"))
            {
            <a asp-action="Create" asp-controller="Nieves">
                <img src="~/images/para.jpg" alt="Misión en la nieve" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Heros">
                <img src="~/images/porta.jpg" alt="Los heroes del apocalipsis" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Entre1">
                <img src="~/images/pobla.jpg" alt="Operación entrega" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Medi1">
                <img src="~/images/entre.jpeg" alt="Operación rescate en la selva" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Alpez1">
                <img src="~/images/alpez.jpg" alt="Misión Alpez Suizoz" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Super1">
                <img src="~/images/portni.jpeg" alt="Misión Montaña" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Peli1">
                <img src="~/images/port5.jpeg" alt="Aventura Peligrosa" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Veneno1">
                <img src="~/images/port6.jpeg" alt="Aventura Venenosa" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Sobre1">
                <img src="~/images/port7.jpeg" alt="Misión Torres" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Mito1">
                <img src="~/images/port9.jpeg" alt="Misión Peligrosa" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Gato1">
                <img src="~/images/port10.jpeg" alt="El gato ladrón" class="img-small">
            </a>
            <a asp-action="Create" asp-controller="Taker1">
                <img src="~/images/port11.jpeg" alt="Escapada de Kofi" class="img-small">
        </a>
        }
    </div>

    <div class="container-books">
        <h2>Libros Disponibles:</h2>
        <ul>
            <li>
                <a asp-action="Create" asp-controller="Asset">Jurásico Infinito</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="Bosques">Fugaz Selva</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="Safari">Safari Sin Fin</a>
            </li>
            @if (User.IsInRole("Administrador") || User.IsInRole("Lector 15 libros"))
            {
                <li>
                    <a asp-action="Create" asp-controller="Nieves">Reino Helado</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Heros">Héroes del Fin</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Entre1">Entrega Decisiva</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Medi1">Rescate en la Selva</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Alpez1">Alpez: Enigma Suizo</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Super1">Cumbres de Aventura</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Peli1">Peligro Inminente</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Veneno1">Venenos Ocultos</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Sobre1">Torres de Poder</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Mito1">Mito Peligroso</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Gato1">El Gato Maestro</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Taker1">La Gran Escapada</a>
                </li>
            }
        </ul>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Libros Interactivos para niños -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
