@model ProyectoIdentity.Models.Entre2

@{
    ViewData["Title"] = "Create";
}

<hr />

<style>
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .text-center {
        text-align: center;
    }

    .img-fluid {
        max-width: 85.8%;
        height: auto;
    }

    .btn {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Añade bordes redondeados */
        padding: 15px 30px; /* Aumenta el padding para un mejor aspecto */
        font-size: 22px; /* Ajusta el tamaño de la fuente */
        transition: all 0.5s; /* Añade una transición suave */
        text-decoration: none;
        margin-top: 10px;
    }

        .btn:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    .text-justify {
        font-size: 2em;
        color: #333;
        line-height: 1.6;
        text-align: justify; /* Justifica el texto */
    }
</style>

<div class="container">
    <div class="text-center">
        <img src="~/images/cuerda1.jpeg" alt="Imagen de cuerda" class="img-fluid" />
    </div>

    <div class="text-center">
        <img src="~/images/rappel1.jpeg" alt="Imagen de rappel" class="img-fluid" />
    </div>
</div>

<div class="container">
    <div class="text-center">
        <p class="text-justify">
            Debes decidir si pasar por la cuerda o hacer rappel.
        </p>
    </div>
</div>

<div class="container" style="justify-content: space-around;">
    <div class="text-center">
        <a class="btn" asp-action="Index" asp-controller="Entre2">Cuerda</a>
    </div>
    <div class="text-center">
    </div>
    <div class="text-center">
        <a class="btn" asp-action="Create" asp-controller="Entre3">Rappel</a>
    </div>
</div>
