@model IEnumerable<ProyectoIdentity.Models.Taker4>

@{
    ViewData["Title"] = "Index";
}

<hr />

<style>
    #container {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Alinea verticalmente los elementos */
    }

    .img-container {
        max-width: 550px; /* Limita el ancho máximo de la imagen */
        margin-right: 30px; /* Añade margen a la derecha para separar la imagen del texto */
    }

    #right-side {
        flex: 1; /* Permite que este div ocupe el espacio restante */
        text-align: left; /* Alinea el texto a la izquierda */
        font-size: 2em; /* Ajusta el tamaño del texto */
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Bordes redondeados */
        padding: 20px 40px; /* Aumenta el padding */
        font-size: 22px; /* Ajusta el tamaño de la fuente */
        transition: all 0.5s; /* Transición suave */
        margin-top: 30px; /* Añade margen superior para separar el botón de otros elementos */
    }

        .btn-info:hover {
            background-color: #138496; /* Color de fondo al pasar el mouse */
            border-color: #138496; /* Color del borde al pasar el mouse */
        }

    .button-container {
        display: flex;
        justify-content: flex-end; /* Alinea el botón a la derecha */
        margin-top: 30px; /* Añade margen superior para separar el botón de otros elementos */
        width: 100%; /* Ocupa el ancho completo disponible */
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/ob.jpeg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>

    <div id="right-side">
        <p>
            Ahora que has caído en la trampa de Undertaker, se muestra en las cámaras de seguridad que te estaba vigilando.
        </p>
    </div>
</div>

<div class="button-container">
    <form method="post">
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </form>
</div>

