@model ProyectoIdentity.Models.Mito4

@{
    ViewData["Title"] = "Create";
}

<hr />

<style>
    #container {
        display: flex;
        justify-content: center; /* Centra el contenedor de imágenes horizontalmente */
        margin-bottom: 20px; /* Añade margen inferior para separar las imágenes del texto */
    }

    .img-container {
        flex: 1 1 45%; /* Permite que las imágenes se ajusten proporcionalmente */
        max-width: 45%; /* Limita el ancho máximo de cada imagen al 45% del contenedor */
        margin-right: 20px; /* Añade margen derecho para separación entre imágenes */
    }

        .img-container img {
            width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
        }

    #right-side {
        font-size: 2em; /* Tamaño del texto */
        text-align: center; /* Centra el texto */
        margin-top: 20px; /* Añade margen superior para separar el texto del botón */
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Bordes redondeados */
        padding: 20px 40px; /* Aumenta el padding para un botón más grande */
        font-size: 22px; /* Tamaño del texto en el botón */
        transition: all 0.5s; /* Transición suave para efectos */
        margin-top: 30px; /* Añade margen superior para separar el botón del texto */
    }

        .btn-info:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    .btn-container {
        display: flex;
        justify-content: flex-end; /* Alinea el botón a la derecha */
        margin-top: 30px; /* Añade margen superior para separar el botón del texto */
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/bee.jpeg" alt="Imagen de abeja" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/atrapar2.jpeg" alt="Imagen de atrapar" class="img-fluid" />
    </div>
</div>

<div id="right-side">
    <p>
        Intentamos atrapar la oveja con hierba como carnada, pero no funciona y la perseguimos haciendo ruido.
    </p>
</div>

<div class="btn-container">
    <form method="post">
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </form>
</div>
