html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bold-link {
    font-weight: bold;
    color: black !important;
}

.btn-green {
    background-color: green;
    border-color: green;
    color: white;
}

<style >
.highlight {
    background-color: orange;
    /*color: white;*/ /* Opcional, para mejorar la visibilidad del texto */
}

</style >
