@model ProyectoIdentity.Models.Sobre9

@{
    ViewData["Title"] = "Create";
}

<hr />
<style>
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .img-container {
        flex: 1 1 300px;
        max-width: 45%;
        box-sizing: border-box;
    }

    .img-fluid {
        width: 91%;
        height: auto;
        display: block;
        border: 1px solid #333; /* Añade un borde sólido de 5px de grosor y color gris oscuro */
    }

    #right-side p {
        font-size: 2em;
        text-align: justify;
    }

    /* Estilos para el botón y el audio, para que se vean como en el código de 'Bosque' */
    #button-audio-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        padding: 0 15px;
    }

    .audio-container {
        flex: 1;
        max-width: 300px;
    }

    audio {
        width: 100%;
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px;
        padding: 15px 30px;
        font-size: 18px;
        transition: all 0.5s;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }

    /* Contenedor para alinear el botón a la derecha */
    #button-container {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/humo.jpeg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/civi.jpeg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
</div>

<div id="right-side" class="text-center">
    <p>
        Si huyes, pierdes la oportunidad. El lobo ya no está y encontramos la civilización. Prendemos una señal de humo para ser rescatados.

    </p>
</div>

<div id="button-audio-container">
    <!-- Audio a la izquierda -->
    <div class="audio-container">
        <audio controls>
            <source src="~/Canciones/cheer_8k.wav" type="audio/wav">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>

    <!-- Botón a la derecha -->
    <div id="button-container">
        <form method="post">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Regresar al menú</button>
        </form>
    </div>
</div>
