@model IEnumerable<ProyectoIdentity.Models.Rio>

@{
    ViewData["Title"] = "Index";
}

<hr />

<style>
    #container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .text-center {
        text-align: center;
    }

    .img-fluid {
        max-width: 84%;
        height: auto;
        border: 1px solid #333; /* Añade un borde sólido de 5px de grosor y color gris oscuro */
    }

    .btn {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px; /* Añade bordes redondeados */
        padding: 15px 30px; /* Aumenta el padding para un mejor aspecto */
        font-size: 22px; /* Ajusta el tamaño de la fuente */
        transition: all 0.5s; /* Añade una transición suave */
        text-decoration: none;
        margin-top: 10px;
    }

        .btn:hover {
            background-color: #138496; /* Cambia el color de fondo al pasar el mouse */
            border-color: #138496; /* Cambia el color del borde al pasar el mouse */
        }

    #center p {
        font-size: 2em;
        color: #333;
        line-height: 1.6;
    }
</style>



<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/edu.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" />
    </div>

    <div id="right-side" class="text-center">
        <img src="~/images/mateo.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" />
    </div>
</div>

<div id="container">
    <div id="center" class="text-center">
        <p>
            Pero en medio del camino hay lobos que estan comiendo un cerdo que encontraron luego, para robarse el cerdo,
            debe decidir quien debe asustar al lobo si Eduardo o Mateo.
        </p>
    </div>
</div>

<div id="container" style="justify-content: space-around;">
    <div id="left-side" class="text-center">
        <a class="btn" asp-action="Create" asp-controller="Fogatas">Eduardo</a>
    </div>
    <div id="center" class="text-center">
    </div>
    <div id="right-side" class="text-center">
        <a class="btn" asp-action="Index" asp-controller="Militars">Mateo</a>
    </div>
</div>