@model ProyectoIdentity.Models.Salida

@{
    ViewData["Title"] = "Jurasico 14";
}

<hr />
<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/distrae.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Montaña">Distraer</a>
    </div>
    <div id="center" class="text-center">
        <p>
            Luego de ver enfrentarse a un tiranosaurio a otro,
            deben elegir entre salida de emergencia o seguir adelante
            encontrando otro dinosaurio y evitando ser atacados. Mientras
            la pregunta sobre escapar o distraer a los dinosaurios se hace presente en el ambiente
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/escapa.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Escapar"></a>
    </div>
</div>
