@model IEnumerable<ProyectoIdentity.Models.Cerca>

@{
    ViewData["Title"] = "Index";
}

<hr />
<style>
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .img-container {
        flex: 1 1 300px;
        max-width: 45%;
        box-sizing: border-box;
    }

    .img-fluid {
        width: 91%;
        height: auto;
        display: block;
        border: 1px solid #333; /* Añade un borde sólido de 5px de grosor y color gris oscuro */
    }

    #right-side p {
        font-size: 2em;
        text-align: justify;
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        border-radius: 25px;
        padding: 20px 40px;
        font-size: 22px;
        transition: all 0.5s;
        margin-top: 30px;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }

    .text-center {
        text-align: center;
    }
</style>

<div id="container">
    <div class="img-container">
        <img src="~/images/caja.jpg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
    <div class="img-container">
        <img src="~/images/leon.jpg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
</div>

<div id="right-side" class="text-center">
    <p>
        Le informan que debe arreglar la caja eléctrica para evitar que más animales salgan, pero debe hacerlo rápido. Después, buscará al león.

    </p>
</div>

<div>
    <form method="post">
        <div style="display: flex; justify-content: flex-end;">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
